---
layout: archive
title: "Art Gallery"
permalink: /gallery/
author_profile: true
---

{% include base_path %}
A gallery of science-inspired art! My work has previously been featured in LIGO magazine, and some of my designs are available for purchase via redbubble.
<br><br>

I provided the artwork for one of the winning entries for the "Research Firsts" exhibition organised by the University of Glasgow's Advanced Research Centre. Find more about it <a href="https://osf.io/zqc5p/">here</a>.

<br><br>

The binary bear animation is based on artwork by Midori Harada.

<br><br>

<header>
  <h1>Digital Paintings</h1>
    </header>
{% include image-gallery.html folder="/images/artimages/digital" %}

<header>
  <h1>Portraits of LIGO</h1>
    </header>
Portraits of LIGO scientists
{% include image-gallery.html folder="/images/artimages/portraits" %}

<header>
  <h1>3D Renders</h1>
    </header>
3D renders done in Blender.
{% include image-gallery.html folder="/images/artimages/3D" %}

<header>
  <h1>Animations</h1>
    </header>
Click to animate!
{% include image-gallery.html folder="/images/artimages/animation" %}

<header>
  <h1>Traditional</h1>
    </header>
{% include image-gallery.html folder="/images/artimages/traditional" %}
