---
layout: archive
title: "Art Gallery"
permalink: /gallery/
author_profile: true
---

{% include base_path %}
A gallery of science inspired art.

<br><br>

<header>
  <h1>Digital Paintings</h1>
    </header>
{% include image-gallery.html folder="/images/artimages/digital" %}

<header>
  <h1>3D Renders</h1>
    </header>
3D renders done in Blender.
{% include image-gallery.html folder="/images/artimages/3D" %}

<header>
  <h1>Animations</h1>
    </header>
Click to animate!
{% include image-gallery.html folder="/images/artimages/animation" %}

<header>
  <h1>Traditional</h1>
    </header>
{% include image-gallery.html folder="/images/artimages/traditional" %}
